{% extends 'admin/master.html' %}

{% block body %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6" align="center" style="margin-top: 80px;">
                <h2>Projekt wstępny Emplocity.</h2> <br>
                <h3>Tomasz Miotk</h3>
            </div>
            <div class="col-sm-6" align="center">
                <img src="https://cdn1.iconfinder.com/data/icons/ui-5/502/like-512.png" width="300">
            </div>
        </div>
    </div>
{% endblock %}
